name: Build and Deploy Hugo to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: adventskalender-deploy
  cancel-in-progress: true

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Set up Hugo (extended)
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.148.1"
          extended: true

      - name: Build Hugo Site
        run: |
          hugo mod get
          hugo mod tidy
          hugo --gc --minify --enableGitInfo

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
          cname: adventskalender.ilmenauer-schachverein.de

  mirror-to-gitlab:
    name: Mirror to GitLab
    needs: build-deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Push to GitLab
        env:
          GITLAB_PAT: ${{ secrets.GITLAB_PAT }}
        run: |
          git config --global user.name "CI Pipeline"
          git config --global user.email "info@ilmenauer-schachverein.de"
          git remote add gitlab "https://oauth2:${GITLAB_PAT}@gitlab.erik-skopp.de/ilmenauerschachverein/adventskalender.git"
          git push --force gitlab main
          git push --force --tags gitlab
